<h1>Heroe <small>Nombre de Heroe</small></h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/hereoes">
      <i class="fa fa-arrow-left"></i>
      Atras
    </button>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col">
        <form action="" (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" name="id" [(ngModel)]="heroe.id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="heroe.nombre" required>
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input type="text" class="form-control" placeholder="Poder del Heroe" name="poder" [(ngModel)]="heroe.poder" required>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button" *ngIf="heroe.estado" (click)="heroe.estado=false">
                  <!-- <i class="fas fa-smile"></i> -->
                  <!-- <i class="far fa-laugh-wink"></i> -->
                  <i class="fa fa-smile-wink"> </i>
                  <!-- <i class="far fa-laugh-wink"></i> -->
                  <!-- <i class="fa fa-save"></i> -->

                  Esta vivo!
                </button>

                <button class="btn btn-outline-danger w-50" type="button" *ngIf="!heroe.estado" (click)="heroe.estado=true">
                  <i class="fa fa-dizzy"></i>
                  Esta muerto!
                </button>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                  <i class="fa fa-save"></i>
                  Grabar
                </button>
            </div>

        </form>
    </div>
</div>