<h1>Listado de Heroes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/heroe/nuevo">
          <i class="fa fa-plus"></i>
          Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && heroes.length>0" class="table table-striped table-dark mt-3 animated fadeIn fast">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <!-- {{ heroe.estado }} -->
                <label class="badge badge-success" *ngIf="heroe.estado">Vivo</label>
                <label class="badge badge-danger" *ngIf="!heroe.estado">Muerto</label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe',heroe.id]">
                  <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarHeroe(heroe, i)">
                  <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>

    </tbody>
</table>


<div *ngIf="!cargando && heroes.length===0" class="alert alert-warning text-center mt-3  animated fadeIn faster">
    <h4 class="alert-heading">No existen registros</h4>
    <p>
        <i class="fa fa-exclamation fa-spin fa-2x"></i>
    </p>
</div>

<div class="alert alert-info text-center mt-3 animated fadeIn faster" *ngIf="cargando">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
        <!-- <i class="fas fa-radiation-alt"></i> -->
        <!-- <i class="fa fa-exclamation-circle fa-spin fa-2x"></i> -->
        <!-- <i class="fas fa-sync-alt fa-spin"></i> -->
        <!-- <i class="fas fa-sync-alt"></i> -->
        <!-- <i class="fas fa-sync"></i> -->
        <!-- <i class="fa fa-sync fa-spin fa-2x"></i> -->
        <!-- <i class="fas fa-spinner fa-spin fa-2x"></i> -->
    </p>
    <p class="mb-0">
        Por favor, espere.
    </p>
</div>